name: Windows-RDP-Tmate
on: workflow_dispatch

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        
      - name: Launch RDP with Tmate
        uses: mxschmitt/action-tmate@v3
        with:
          limit-access-to-actor: false
